.content-box {
    position: relative;
  }
  
  .scroll-box {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: auto;
  }
  
  .guestbook-title {
    height: 2rem;
    background-color: #dac8b8;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  
  .guestbook-title > span {
    margin-right: 0.5rem;
  }
  
  .guest-name {
    color: rgb(85, 82, 76);
  }
  
  .guestbook-box {
    margin-bottom: 2rem;
  }
  
  .guestbook-contents {
    display: flex;
    padding: 1.5rem 0;
  }
  
  .guestbook-image {
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-1 {
    background-image: url("./images/background1.jpg");
  }
  
  .background-2 {
    background-image: url("./images/background2.jpg");
  }
  
  .background-3 {
    background-image: url("./images/background3.jpg");
  }
  
  .guestbook-image > img {
    width: 80%;
  }
  
  .guestbook-memo {
    flex: 1;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    line-height: 1.5;
  }